* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

body {
    background: #000;
    overflow-x: hidden;
    color: white;
}

.header {
    position: fixed;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);

    width: 92%;
    height: 90px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0 50px;

    background: linear-gradient(135deg, #000, #2d004d);

    border-radius: 70px;

    box-shadow:
        0 0 20px #a100ff,
        0 0 40px #a100ff,
        0 0 120px #a100ff,
        0 0 220px rgb(54, 33, 94);

    z-index: 1000;
}

.title {
    font-size: 32px;
    font-weight: bold;
    letter-spacing: 2px;
}

#typing {
    color: #ff7a00;

    text-shadow:
        0 0 10px #ff7a00,
        0 0 40px #ff7a00,
        0 0 80px #ff7a00;
}

#typing::after {
    content: "|";
    margin-left: 6px;
    animation: blink .7s infinite;
}

@keyframes blink {
    50% {
        opacity: 0;
    }
}

.nombre {
    color: #a100ff;

    text-shadow:
        0 0 10px #a100ff,
        0 0 30px #a100ff,
        0 0 70px #a100ff;
}

.btn-dashboard,
.btn-trabajos {
    background: #ff7a00;
    color: white;

    border: none;
    padding: 14px 32px;

    border-radius: 35px;

    font-weight: bold;
    font-size: 15px;

    cursor: pointer;
    transition: .3s;

    box-shadow:
        0 0 20px #ff7a00,
        0 0 50px #ff7a00;
}

.btn-dashboard:hover,
.btn-trabajos:hover {
    background: #a100ff;
    transform: scale(1.12);

    box-shadow:
        0 0 40px #a100ff,
        0 0 90px #a100ff;
}

.contenido {
    margin-top: 180px;
    padding: 40px;
    min-height: 150vh;
}

.video-card {
    position: relative;
    width: 90%;
    height: 780px;
    margin-left: 90px;
    border-radius: 30px;
    overflow: hidden;
    margin-top: -60px;
    box-shadow:
        0 0 30px #a100ff,
        0 0 60px #a100ff,
        0 0 90px #ff7a00;

    background: #111;
}

.bg-video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.overlay {
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, .65);
}

.hero-text {
    position: absolute;
    inset: 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-align: center;
    gap: 18px;
}

.hero-text h2 {
    font-size: 42px;
    color: #ff7a00;

    text-shadow: 0 0 25px #ff7a00;
}

.hero-text p {
    font-size: 18px;
    color: #a100ff;
}

.hero-img {
    max-width: 260px;
    filter: drop-shadow(0 0 20px #a100ff);
    border-radius: 25px;
}

.about-sections {
    margin-top: 120px;

    display: flex;
    flex-direction: column;
    gap: 120px;

    align-items: center;
}

.about-row {
    display: flex;
    align-items: center;
    justify-content: center;

    gap: 90px;

    width: 100%;
    max-width: 1200px;
}

.reverse {
    flex-direction: row-reverse;
}

/* imagen */
.about-img {
    width: 360px;

    border-radius: 25px;

    box-shadow:
        0 0 40px #a100ff,
        0 0 80px #ff7a00;
}

/* tarjeta texto morado */
.about-info {
    max-width: 540px;

    padding: 40px;

    background: linear-gradient(135deg, #2d004d, #3d0072);

    border-radius: 25px;

    color: white;

    line-height: 1.7;

    box-shadow:
        0 0 30px #a100ff,
        0 0 80px #a100ff;
}

.about-info h3 {
    margin-bottom: 18px;
    font-size: 24px;

    color: #ff7a00;
    text-shadow: 0 0 20px #ff7a00;
}

.about-info p {
    margin-bottom: 12px;
}

.sidebar {
    position: fixed;

    left: -320px;
    top: 50%;
    transform: translateY(-50%);

    width: 30%;
    max-width: 300px;

    padding: 25px;

    border-radius: 25px;

    background: linear-gradient(180deg, #1a002e, #000);

    box-shadow:
        0 0 30px #a100ff,
        0 0 60px #ff7a00;

    transition: .45s ease;

    z-index: 900;
}

.sidebar.active {
    left: 20px;
}

.sidebar h3 {
    text-align: center;
    margin-bottom: 20px;
    color: #ff7a00;
}

.aside-card {
    background: #22003a;
    padding: 15px;
    border-radius: 15px;
    margin-bottom: 15px;

    display: flex;
    flex-direction: column;
    gap: 6px;

    box-shadow:
        0 0 15px #a100ff;
}

.aside-card h4 {
    color: #ff7a00;
}

.cat-btn {
    position: fixed;

    left: 20px;
    bottom: 40px;

    width: 60px;
    height: 60px;

    border: none;
    border-radius: 50%;

    font-size: 26px;

    background: #ff7a00;

    cursor: pointer;

    box-shadow:
        0 0 25px #ff7a00,
        0 0 60px #ff7a00;

    transition: .35s;

    opacity: 0;
    transform: translateY(25px);

    z-index: 950;
}

.cat-btn.show {
    opacity: 1;
    transform: translateY(0);
}

.cat-btn:hover {
    transform: scale(1.15);
}

.footer {
    margin-top: 120px;
    padding: 30px;
    text-align: center;

    background: #111;

    box-shadow:
        0 0 40px #a100ff inset;
}

@media(max-width:900px) {

    .about-row {
        flex-direction: column;
        text-align: center;
    }

    .sidebar {
        width: 75%;
    }
}


.aside-item{
    margin-bottom:12px;
}

/* botón título */
.aside-toggle{
    width:100%;
    background:#2d004d;
    color:white;

    border:none;
    padding:12px;

    border-radius:12px;

    text-align:left;
    font-weight:bold;

    cursor:pointer;

    box-shadow:
        0 0 15px #a100ff;

    transition:.3s;
}

.aside-toggle:hover{
    background:#3f0070;
}

.aside-content{
    max-height:0;
    overflow:hidden;
    display:flex;
    flex-direction:column;
    gap:6px;
    margin-top:10px;
    border-radius: 25px;
    height: 100px;
    transition:max-height .4s ease;
}

.aside-content p{
    background:#1b0030;
    padding:8px 12px;

    border-radius:8px;

    font-size:14px;

    box-shadow:0 0 10px #ff7a00;
}

.aside-item.active .aside-content{
    max-height:200px;
}